.product{
     height: 515px;
     width: 300px;
     border-radius: 8px;
     border: 2px solid #95A0A7;
     position: relative;
}

.product img{
     height: 285px;
     width: 285px;
     border-radius: 8px;
     margin: 8px;
}

.product-name{
     margin-top: 0px;
     margin-bottom: 0px;
     font-family: Lato;
     font-size: 19px;
}

.product-info{
     margin-left: 14px;  
}

.product-price{
     font-family: Lato;
     font-size: 19px
}

.product-info p{
     margin-top: 5px;
     margin-bottom: 5px;
}


.btn-cart svg{
     height: 12px;
     margin-left: 10px;
}


.btn-cart{
     width: 100%;
     border-radius: 0px 0px 5px 5px;
     border: 1px solid #95A0A7;
     background: #FFE0B3;
     position: absolute;
     bottom: 0;
}

.btn-cart:hover{
     background-color: #ffc369;
}
